<div class="center jumbotron jumbotron-fluid">
  <h1>Process Management</h1>
  <h2>製品を登録して納期の進捗を管理できるアプリになります。</h2>
  
  <p>まずは新規登録へ！</p>
  <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>

  <p>ログインはこちらへ！</p>
  <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
</div>