<% provide(:title, 'All users') %>
<h1>全てのアイテム</h1>

<div class="tabmenu">
  <div id="tab-menu-a">メニュー1</a></li>
  <div id="tab-menu-b">メニュー2</a></li>
  <div id="tab-menu-c">メニュー3</a></li>
</div>
<div class="tabcontent">
  <div id="tab-a">
    <p>タブ1の内容</p>
  </div>
  <div id="tab-b">
    <p>タブ2の内容</p>
  </div>
  <div id="tab-c">
    <p>タブ3の内容</p>
  </div>

<button>show it</button>
<p style="display: none">Hello</p>

<script src="users.js"></script>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
