@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* home.html.erb */

h2 {
  font-size: 4em;
  text-align: center;
  margin-bottom: 20px;
  line-height: 2em;
}

p{
  font-size: 1em;
  text-align: center;
  line-height: 2em;
  font-weight: normal;
}


/* header */



/* typography */



/* footer */


/* sidebar */


/* forms */




input[type="email"] {
  width: 300px;
  margin: auto;
}

input[type="password"] {
  width: 300px;
  margin: auto;
}

/* Users index */

