<footer class= "footer-list">
  <nav>
    <ul>
      <li><%= link_to "アプリについて", about_path %></li>
      <li><a href="#">githubコード</a></li>
      <li><a href="#">自己紹介</a></li>
      <li><%= link_to "問い合わせ", contact_path %></li>
    </ul>
  </nav>
</footer>
